// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
$accent-color: rgb(255, 94, 0);

#news-container {
  .list-group-item {
    padding: 0;
    div {
      background-color: $accent-color;
      color: #fff;
      padding: 0.3rem;
    }
  }
}

#page-numbers {
  display: flex;
  gap: 0.3rem;
  .pagination-button {
    color: #000;
    &:hover {
      background-color: rgba(255, 94, 0, 0.644);
    }
  }
  .active {
    background-color: $accent-color;
    border-color: $accent-color;
  }
  .disabled {
    color: rgb(187, 187, 187);
  }
}
